.student-info {
  display: flex;
  justify-content: space-between;
}

.student-info-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 50px;
}
.add-student-btn {
  align-self: end;
}

.edit-student-btn {
  align-self: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.edit-student-header {
  margin: 20px 0 60px 0;
}

.edit-student-form-group {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
}

.edit-student-form-group .form-control {
  width: 70%;
  max-width: 1000px;
}

.edit-student-form-group .form-label {
  width: 30%;
} 

.update-student-btn {
  margin-top: 40px; /* Adjust the margin-bottom value as needed */
}

/* .radio-button-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
} */
