/* .repertoire-info {
  color: red;
} */

.repertoire {
  padding: 10px;
  text-align: center;
  font-size: .8rem;;
  background-color: var(--darkblue);
  box-shadow: 2px 2px 3px var(--lightblue);
  border-radius: 5px;
  height: 100%;
  transition: all 300ms;
}

.repertoire-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 0.8rem;
  padding: 10px;
  background-color: var(--white);
}

.repertoire-info-container {
  padding: 1.01rem;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 27%;
}

.repertoire-info img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  align-self: center;
}

.repertoire-info {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  align-self: center;
  align-items: center;
}

/* .repertoire:hover {
  transform: scale(1.02);
  background-color: var(--blue);
  
} */

.add-repertoire-container {
  display: flex;
}

.repertoire-info-container .title {
  font-weight: 900;
  text-align: center;
}

.add-repertoire-btn {
  align-self: end;
  margin: 0 10px 15px 0;
}

.new-repertoire-form .mb-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 500px; */
}

.new-repertoire-form input {
  width: 400px;
  margin: 8px;
}

.add-image-cover {
  max-width: 100%;
  max-height: 150px;
  align-self: center;
  margin: 0 0 0 10px;
}

.repertoire-delete-btn {
  margin: 8px 0 0 0 ;
}