.navbar-container {
  background-color: var(--darkblue);
}

.mr-auto {
  font-family: "Elsie";
  font-size: 2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px var(--blue);
}

.logo-img img {
  height: 60px;
}

.navbar {
  a:hover {
    color: var(--white);
  }
}

.mr-auto:hover {
  text-decoration: none;
}

.nav-link {
  color: var(--white);
  font-family: "Domine", serif;
  margin: 0 20px 0 20px;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav .nav-link.active {
  color: var(--white);
}

.navbar-nav {
  width: 5%;
}